// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	font: 14px Helvetica, Arial, sans-serif;
	padding-top: 60px;
}
.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}
.status p{
	margin: 4px 0;
}
.status.hover{
	background: #FAFAFA
}
.status .admin{
	display: none;
}
.status.hover .admin {
	display: inline;
}
a{
	color: #da4f49
};
a:hover{
	color: #bd362f
};
.navbar .navbar-brand{
	color: #da4f49
};
.navbar .navbar-brand:hover{
	color: #bd362f;
};
.navbar .nav > li > a{
	color: #da4f49
};
.navbar .nav > li > a:hover{
	color: #bd362f;
};
.status-text {
	padding-left: 1em
};
.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
	background-color: #da4f49
}